
body {
    font-family: Lora, serif;
    color: rgb(25, 32, 4);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    max-width: 600px;
    position: relative;
}

img {
    display: block;
    width: min(900px, 100%);
    margin: 0 auto;
}

a {
    color:rgb(25, 32, 4);
    font-weight: 500;
}

h1 {
    font-family: Urbanist, sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: Urbanist, sans-serif;
}

h3 {
    font-family: Urbanist, sans-serif;
}

p {
    font-size: 1.2rem;
}

.indented-quote{
    margin: 2rem 2rem;
    font-style: italic;
}

li {
    font-size: 0.9rem;
    margin: 0 0 1rem 1rem;
    overflow-wrap: break-word;
}

/*
Source - https://stackoverflow.com/a/24918999
Posted by JoeJ
Retrieved 2026-09-01, License - CC BY-SA 3.0
*/

:target {
    animation: target-fade 3s;
    background-color: #6e8d2a5b;
    padding: 0.5rem;
}

.cite {
    display: inline-block;
    color:rgb(182, 182, 182);
}

.cite a {
    text-decoration: none;
  }

.cite img {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
  }

.cite .tooltip {
    visibility: hidden;
    position: absolute;
    width: 400px;
    left: calc(100% + 2rem);
    transform: translateY(-2rem);
    padding: 0.8rem;
}

  .cite:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 900px) {
    .cite .tooltip {
        display: none;
    }
}
